.tagger-label {
    margin-right: 5px;
}
.tagger-remove-tag {
    color: #FFF !important;
}

.tagger-remove-tag:hover {
    text-decoration: none !important;
    cursor: pointer !important;
}

.tagger-input {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

.tagger-input:focus {
    outline: none !important;
}

.tagger-focused {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
